#Ignora archivos csv
*.csv

#Ignora carpeta consultas_out
consultas_out

#Ignora carpeta contracts
contracts

#Ignora csv_out
csv_out

#Ignora .venv
.venv

#Ignora __pycache__
__pycache__

#Ignora documentacion
Documentacion

node_modules

*.bin

*.evm

*.opcode

*.json

Figuras

*.docx

*.tmp